node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
*.pem
*.key
*.xlsx
*.xls
*.csv
*.env
*.env.*
.env.local
.env.production
auth_info_baileys/
attached_assets/*.xlsx
attached_assets/*.xls
attached_assets/*.csv
